@CHARSET "UTF-8";
/*.submitButton {
	border: none;
	background: none;
	color: grey;
	
}*/

.btn-question:hover {
	color: #ffb697;
}

h1, h2 {
	color: #6a8eab;
}

.shiftRight {
	position: relative;
	left: 1%;
}

.btn-question {
	background: #256294;
}