@CHARSET "UTF-8";

.btn-question:hover {
	color: #ffb697;
}

h1, h2 {
	color: #6a8eab;
	display: inline;
}

.shiftRight {
	position: relative;
	left: 1%;
}

.btn-question {
	background: #256294;
}

.btn-expand {
	background: #afd3f2;
	position: relative;
	float: left;
}

#questionNum {
	display: inline;
}

#num_questions_so_far {
	font-size: 30px;	
	color: #ff9e75;
}

h3 {
	color: #bf8972;
}