/* ------------ General, global styles ---------------- */

body, h1, h2, h3, h4, h5, h6, p, span, div {
	font-family: 'Open Sans', sans-serif !important;
	color: #333;
}

/* ------------------- Buttons ------------------------ */

.btn {
	color: white;
	border: none;
}
.btn-primary {
	background-color: #4cbeff;
	text-shadow: 0px 1px 0px #43a8e1;
}
.btn-primary:hover {
	background-color: #43a8e2;
}
.btn-success {
	background-color: #57c857;
	text-shadow: 0px 1px #49aa49;
}
.btn-success:hover {
	background-color: #4eb34e;
}

.btn-facebook, .btn-facebook-small {
	background-color: #476cba;
	text-shadow: 0px 1px #2f4678;
}
.btn-facebook:hover {
	background-color: #3e5c9f;
	color: white;
}

.btn-google, .btn-google-small {
	background-color: #DC4B38;
	text-shadow: 0px 1px #bc3f2f;
}
.btn-google:hover {
	color: white;
	background-color: #ca4533;
}

.btn-facebook-small, .btn-google-small {
	font-size: 1.1em;
	color: white !important;
}
.btn-facebook-small:hover { /* Not sure why this is necessary, but it is. */
	background-color: #3e5c9f !important;
}
.btn-google-small:hover {
	background-color: #ca4533 !important;
}

.social-register-button-icon {
	margin-left: -10px;
	padding-right: 10px;
}

/* ------------------- Navigation bar -------------------- */
.user-action-icon {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	margin-left: -15px; 
	color: #b5e3ff !important;
	text-shadow: 0px 1px #64a8d0 !important; /* 5b9abf */
}
.user-action-icon i {
	font-size: 26px;
}

.navbar-default {
	background-color: #4cbeff;
	border-color: #71b0e4;
}

/* active tab */
.navbar-default .navbar-nav>.active>a {
	background-color: #79cdff;
	color: white;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: #71b0e4;
	color: white;
	opacity: 1;
}


.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	text-shadow: 0px 1px 0px #43a8e1;
	color: white; 
}
.navbar-default .navbar-nav>li>a:hover {
	color: white;
	opacity: 0.75;
}
.navbar-brand {
	font-weight:bold;
}

/* Dropdowns */
.navbar-default .navbar-nav>.open>a:focus, .navbar-nav>.open>a {
	color: white !important;
	text-shadow: 0px 1px 0px #43a8e1 !important;
	background-color: #79cdff !important;
}

/* user dropdown */
#user-dropdown .dropdown-menu li, #search-results li {
	padding: 0 10px;
}

#user-dropdown .dropdown-menu li a, #search-results li a {
	display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

#user-dropdown .dropdown-menu li:last-of-type a, #search-results li:last-of-type a {
    border: none;
    padding-bottom: 15px;
}

#user-dropdown .dropdown-menu li i, #search-results li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

#user-dropdown .dropdown-menu, #search-results {
    /* Styles */
    background: #fff;
    color: #333;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.3s ease-out;
    padding-left: 15px;
}

#user-dropdown .dropdown-menu li:hover a, #search-results li:hover a {
    color: #57a9d9;
    background-color: white;
}

#nav-search {
	padding-top: 9px; /* 8px */
	margin-bottom: -9px; /* 0px */
	padding-left: 10px;
	/* padding-left: 7%; */
	/* width: 40%; */
}

#searchInput {
	width: 50%;
	-webkit-transition: all .5s ease;
   	-moz-transition: all .5s ease;
   	transition: all .5s ease;
}
#searchInput:focus {
	width: 75%;
}

#search-results {
	margin-top: -15px;
}